# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw/private data
data/raw/*.pdf

# Generated processed data
data/processed/*
!data/processed/.gitkeep

# Generated outputs
outputs/*
!outputs/.gitkeep

# Model/cache files
models/
*.pkl
*.joblib

# Hugging Face / model caches
.cache/
huggingface/

# IDE
.idea/

# Logs
*.log

# Environment / secrets
.env
.streamlit/secrets.toml